body {
    background-color: #111;
    margin-top: 40px;
    padding: 30px;
}

.body-div {
    align-self: center;
    width: 100%;
    height: auto;
    background-color: #111;
    color: #fff;
    font-family: 'Arial';
}

#intro-div {
    text-align: center;
}

#intro-div img {
    height: 200px;
    border-radius: 50%;
}

/* Nav Bar */

header {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

#large-nav-entry {
    margin-right: 900px;
}

/* Thesis */

#thesis-title {
    color: white;
    text-align: center;
}


#thesis-dynamic-div {
    border-style: solid;
    border-width: 5px;
    width: 800px;
    height: 900px;
}

#thesis-dynamic-div div {
    width: 400px;
}

#graph-display-div {
    height: 300px;
    padding: 50px;
    border-style: solid;
    border-width: 1px;
}

#input-div {
    text-align: center;
    width: 200px;
}

#dim {
    width: 40px;
}

#matrix-math-div {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
} 

#thesis table {
    margin: 0 auto;
}

#matrix-controllability-div {
    text-align: center;

}

#thesis-link-div {
    text-align: center;
    width: 200px;
}