/* Homepage */

body {
    background-color: black;
}

#intro-card {
    background-color: rgb(75, 67, 71);
    height: 200px;
    width: 600px;
    margin: auto;
    border-radius: 50px;
    color: rgb(231, 235, 140);
}

#intro-card h1 {
    text-align: center;
    font-family: 'Arial';
    padding: 10px;
}

#intro-card p {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Arial';
}

.home-navbar {
    background-color: grey;
}

body nav {
    text-align: center;
    margin: 20px;
}

body nav a {
    padding: 10px;
}

/* Thesis page */

#body-thesis h1 {
    color: white;
}

/* About me page */

#body-about h1 {
    color: white;
}

/* Resume page */

#body-resume h1 {
    color: white;
}

/* Projects page */

#body-projects {
    color: white;
}