/* Homepage */

body {
    background-color: black;
}

#intro {
    background-color: rgb(75, 67, 71);
    height: 200px;
    width: 600px;
    margin: auto;
    border-radius: 50px;
    color: rgb(231, 235, 140);
}

#intro h1 {
    text-align: center;
    font-family: 'Arial';
    padding: 10px;
}

#intro p {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Arial';
}

.home-navbar {
    background-color: grey;
}

body nav {
    text-align: center;
    margin: 20px;
}

body nav a {
    padding: 10px;
}

/* Thesis */

#thesis h2 {
    color: white;
}

/* About me */

#about h2 {
    color: white;
}

/* Resume */

#resume h2 {
    color: white;
}

/* Projects */

#projects h2 {
    color: white;
}