/* Home */

body {
    background-color: #111;
    margin-top: 40px;
    padding: 30px;
}

.body-div {
    align-self: center;
    display: relative;
    width: 100%;
    height: auto;
    background-color: #111;
    color: #fff;
    font-family: 'Arial';
}

#intro-div {
    text-align: center;
}

#intro-div img {
    height: 200px;
    border-radius: 50%;
}

#skills-div {
    text-align: center;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    width: 800px;
    margin: auto;
}

#skills-container {
    padding: 20px;
}

#skills-div img {
    width: 100px;
}

.logo {
    display: inline-block;
    width: 24%;
    text-align: center;
}

#projects-div {
    text-align: center;
    display: grid;
    position: relative;
}

#projects-div a {
    background: #191919;
    text-decoration: none;
    color: #fff;
    width: 50%;
    padding: 3em  3em 4em;
    margin: auto;
    margin-top: 20px;
}

#projects-div img {
    width: 50%;
}

/* Nav Bar */

header {
    background-color: grey;
    z-index: 10000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

header li a img {
    height: 20px;
}

#large-nav-entry {
    margin-right: 900px;
}

/* About Me */
#about-header-div {
    text-align: center;
}

#about-main-div {
    text-align: center;
    height: 600px;
}

#mugshot {
    float: left;
    width: 50%;
}

#mugshot-description {
    float: right;
    width: 50%;
}

#books-container div {
    display: inline-block;
    width: 33%;
    text-align: center;
}

/* Thesis */

#thesis-title-div {
    text-align: center;
}

#thesis-title-div h2 {
    text-decoration: underline;
}

#thesis-intro-div {
    text-align: left;
}

#thesis-intro-div p {
    width: 80%;
    margin: auto;
}

#thesis-dynamic-div {
    width: 80%;
    margin: auto;
}

#thesis-dynamic-div div {
    margin: auto;
    padding: 10px;
}

#thesis-input-div {
    text-align: center;
    width: auto;
}

#graph-display-div {
    height: 500px;
    border-style: solid;
    border-width: 1px;
    width: 75%;
}

#dim {
    width: 40px;
}

#matrix-controllability-div {
    text-align: center;
}

#thesis-description-div a {
    color: #fff;
    text-decoration: none;
}

#thesis-abstract {
    width: 80%;
    margin: auto;
}

#thesis-link-div img {
    width: 75%;
    display: block;
    margin: auto;
}   

#thesis-link-div img:hover {
    transform: scale(1.02);
    transition: 0.5s;
    z-index: 102;
}   

#thesis-thanks-div {
    padding: 30px;
    text-align: center;
    text-decoration: underline;
}
