body {
    background-color: black;
    /* position: relative; */
}

.body-div {
    align-self: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(75, 67, 71);
    color: rgb(231, 235, 140);
    font-family: 'Arial';
}
